* {
  font-family: 'EB Garamond', serif;
}

html {
  background-color:#464964;
  color: white;
  margin: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-container{
  display: flex;
  letter-spacing: 1px;
  font-size: 20px;
  
}

.league-logo {
  height: 40px;
}

.recommend-button {
  height: 20px;
  color: white;
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-search {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}